<header>
  <nav class="navbar">
    <div class="navbar__container--logo">
      <a href="/">
        <img class="logo" src="img/logo/logo.jpg" alt="" />
        Watch Dogs World
      </a>
    </div>
    <ul class="navbar__container">
      <li><a href="/">Watch Dogs</a></li>
      <li><a href="/two">Watch Dogs: 2</a></li>
      <li><a href="/legion">Watch Dogs: Legion</a></li>
    </ul>
  </nav>
  <div id="banner" class="banner">
    <ul class="banner__container">
      <li>
        <img src="img/banner/01-banner.webp" alt="1ยบ Banner Watch dogs" />
      </li>
      <li>
        <img src="img/banner/02-banner.jpg" alt="2ยบ Banner Watch dogs" />
      </li>
      <li>
        <img src="img/banner/03-banner.webp" alt="3ยบ Banner Watch dogs" />
      </li>
    </ul>
  </div>
</header>